.promoCode-container {
  height: 250px;
}
.promoCode-container .promoCode-content {
  border: 1px solid gray;
  background-color: white;
}
.promoCode-container .promoCode-content .code-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.promoCode-container .promoCode-content .code-container .code-value {
  width: 30%;
}
.promoCode-container .promoCode-content .code-container .percentage-value {
  width: 30%;
}
.promoCode-container .promoCode-content .code-container .amount-value {
  width: 30%;
}
