.workspace-container {
    display: flex;
    height: 100%;
    margin: 0 0 0 180px;
}
.preview-container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tools-container {
    margin-top: 70px;
    width: 30%;
    border-left: 1px solid rgb(172, 172, 172);
}
select {
    display: inherit;
}
.ms-5 select,
.ms-5 label {
    margin-top: 10px;
}



@media screen and (max-width: 1150px) {
    .workspace-container {
        display: flex;
        flex-direction: column;
        
    }
    .preview-container {
        margin-top: 70px;
        width: 100%;
        height: 70%;
    }
    .tools-container {
        width: 100%;
        height: 30%;
        border-top: 1px solid rgb(172, 172, 172);
        overflow: auto;
    }
    
}
.upper-canvas {
    cursor: pointer;
}
.save {
    margin-top: 40px;
}
.sponsor-container {
    height: 100px;
    bottom: 0;
    position: absolute;
    display: flex;
}