
.workspace-container {
    display: flex;
    height: 100%;
    margin: 0 0 0 180px;
    width: auto;
}
.preview-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.tools-container {
    background-color: white;
    display: flex;
    width: 400px;
    margin-right: 0;
    border-left: 1px solid rgb(172, 172, 172);
    flex-direction: column;
    overflow: auto;
    position: relative;
    margin-top: 0 !important;
    height: 970px;
}
.empty-field {
    height: 100%;
}

.ms-5 select,
.ms-5 label {
    margin-top: 10px;
    z-index: 10;
}


.background-image {
    position: relative;
    bottom: 0;
}
.background-image img {
    width: 100%;
    bottom: 0;
}

.workspace-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.workspace-title-container {
    width: 100%;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 600;
}
.license-place {
    margin-top: 20px;
    display: flex;
    align-items: center ;
    justify-content: center ;
    width: 100%;
    height: 50px;
    margin-left: 0;
    background-color: rgb(228, 228, 228);
    text-align: center;
}
.license-content {
    font-size: 15px;
    
}
.icon-verified-workspace {
    width: 20px;
    height: 20px;
}

.responsive-canvas {
    
    z-index: -1;
}
#canvas {
    opacity: 1;
}

.preview-button {
    opacity: 0 !important;
}
/* .canvas-opacity {
    opacity: 0;
} */
.option-container{
        display: flex;
        width: 100%;
    }
    .option-container  {
        display: flex;
        
    }
    .option-container  .input-container  {
        
        display: flex ;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 50%;
        
    }
    .select-option {
        width: 100%;
        margin-top: 20px;
    }

@media only screen and (max-width: 1250px) {
    .workspace-container {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        overflow: auto;
       height: 100%;
       width: 100%;
    }
    .preview-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        height: auto;
        margin-left: 50px;
        margin-bottom: 50px;
        width: 100%;
    }
    /* #canvas {
    opacity: 0 ;
    } */
    
    .background-image {
        width: 100%;
        height: auto;
        position: relative;
    }
    .preview-button {
        position: absolute;
        opacity: 1 !important;
        width: 300px;
        height: 200px;
        border: 0;
        background-color: rgb(216, 216, 216);
        font-family: Poppins;
    }
    .tools-container {
        width: 100%;
        margin-left: 50px;
        border-top: 1px solid rgb(172, 172, 172);
        overflow: auto;
        min-height: 400px;
        bottom: 0;
        position: relative;
        
        
    }

    
}
.upper-canvas {
    cursor: default !important;
}
.save {
    margin-top: 40px;
}
.sponsor-container {
    height: 100px;
    bottom: 0;
    position: absolute;
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.sponsor-image {
    
    margin-left: 20px;
    height: 50px;
}
.license-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}