.catalog-container {
    margin-top: 20px;
    margin-left: 20px;
}
.team-window {
    width: 300px !important;
    height: 200px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.team-name-content {
    margin-top: 10px;
    height: 20px !important;
}
.image-content {
    height: 120px !important;
}
.icon-item {
    margin-left: 20px !important;
    position: fixed;
    margin-top: -10px !important;
    width: 40px ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.2s;
}
.icon-item:hover {
    transition: ease-in-out 0.2s;
    background-color: rgb(233, 233, 233);
}