
.left-bar {
    width: 180px;
    bottom: 0;
    position: fixed;
    top: 69px;
    z-index: 0;
}
.text-white {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    transition: ease-in-out 0.1s;
    
}
.link-container {
    padding: 10px 0 10px 0;
}
li:hover {
    background-color: rgb(58, 58, 58);
    transition: ease-in-out 0.1s;
}
a {
    margin: 0;
    padding: 0;
    
}
span {
    margin-left: 10px;
}