.item-window {
    margin: 0 0 40px 0;
    width: 200px;
    height: 150px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1 ;
    
}

.name-content {
    justify-content: left;
    margin: 2px 0px 0px 5px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    color: black;
    display: flex;
    height: 24.5px;
}
.image-content {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    z-index: 1 !important;
    
}
.image-content img {
    max-height: 80% !important;
    max-width: 150px;
    
}
.catalog-container {
    display: flex;
    flex-wrap: wrap;
}

.catalog-container a {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}


.option-container button {
    border: 0;
    background: none;
}



.show-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    animation-name: clear-show;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    
}
.image-content {
    color: black;
}



@keyframes clear-show {
    from {
      opacity: 0;
    }
    to {
     opacity: 1;
    }
}


.show-list .edit-element ,
.show-list .delete-element   {
    align-items: center;
    background-color: white;
    width: 100%;
    animation-name: clear-show;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}
.show-list .edit-element :hover,
.show-list .delete-element :hover {
    background-color: rgb(204, 204, 204) !important;
    transition: ease-in-out 0.2s;
}


.show-list .edit-element button,
.show-list .delete-element button {
    padding: 10px;
    width: 100%;
    margin-left: 0;
    animation-name: clear-show;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    
}
.option-container {
    border: 0 !important;
    background: none;
    display: flex;
    justify-content: right;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}

.option-container ul  {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    display: flex;
}
.show-option {
    margin-top: 5px;
}
.team-window {
    background-color: white;
    z-index: 0;
}
