
@font-face {
  font-family: Russo_One;
  src: url(./fonts/Russo_One.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-italic";
  src: url(./fonts/Poppins-BoldItalic.ttf);
}

body {
  background-color: rgb(245, 245, 245);
}
.page-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content-wrap {
  flex: 1;
}
.navbar, .container {
  display: flex;
  justify-content: center;
}
.row {
  margin: 3vh 0 3vh 0;
}
.form-align-center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
}
.ml-5 button {
  margin-left: 25px;
  
}
.option-container {
  z-index: 50;
}
.buttons-container {
  margin-top: 20px;
}
.image-container .image {
  max-height: 120px;
  max-width: 200px;
}
.btn {
  background-color: rgb(68, 68, 68);
}
.btn:hover {
  background-color: rgb(26, 26, 26);
  color: white;
}
.btn:focus {
  background-color: rgb(68, 68, 68);
}